body {
<<<<<<< HEAD
  background-color: beige;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 3em;
  margin: 0 auto;
  display: block;
}

img {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  font-weight: 800;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}

ul li {
  margin: 0.5em 0;
=======
  background: #111;
>>>>>>> 0df0edb2cdae801c48090be0e8058554987cbc9f
}
